* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(11, 135, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.figure-container {
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.generateButton {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 50px 10px;
}

.guess {
  letter-spacing: 3px;
}
